<nav id="navbar" class="navbar navbar-expand-sm|md|lg|-xl navbar-light bg-light">
    <div class="container-fluid">
        <div id="navbar-linkButton" style="float: right;">
            <ul class="navbar1">
                <li><a href="#">کارتابل</a></li>
                <li><a href="#">پذیرش</a>
                <li><a href="#">اطلاعات پایه ی سیستمی</a>
                  <ul>
                    <li><a href="#">تعرفه</a></li>
                    <li><a href="#">منطقه</a>
                        <ul>
                            <li><a routerLink = "/base/area/country">کشور</a></li>
                            <li><a href="#">استان</a></li>
                            <li><a href="#">شهر</a></li>					
                        </ul>
                    </li>
                    <li><a href="#">حوضه فعالیت</a></li>					
                    <li><a href="#">استاندارد و دستورالعمل ها</a></li>
                    <li><a href="#">اطلاعات پارامترها</a></li>
                    <li><a href="#">تجهیزات</a></li>
                </ul>
                </li>
                <li><a href="#">تنظیمات سیستمی</a></li>
                <li><a href="#">Uni Test</a></li>
            </ul>
        </div>
    </div>
</nav>