<h1>آزمایشگاه</h1>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">کارتابل</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">پذیرش</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              اطلاعات پایه
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">تعرفه و قیمت پارامترها</a></li>
              <li>
                <a class="nav-link active dropdown-toggle" href="#">ناحیه</a>
                <ul>
                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
                  <li><a class="dropdown-item" href="#">کشور</a></li>
                  <li><a class="dropdown-item" href="#">استان</a></li>
                  <li><a class="dropdown-item" href="#">شهر</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">حوزه فعالیت</a></li>
              <li><a class="dropdown-item" href="#">استاندارد و دستورالعمل</a></li>
              <li><a class="dropdown-item" href="#">اطلاعات پارامترها</a></li>
              <li><a class="dropdown-item" href="#">تجهیزات</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active disabled" href="#" tabindex="-1" aria-disabled="true">تنظیمات سیستمی</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<br><br><br><br><br>

