<h1>آزمایشگاه</h1>
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-2" style="border: 1px solid black;">
        <ul class="navbar">
          <li><a href="#">لوکیشن</a>
            <ul>
              <li><button (click) = onCountry()>کشور</button></li>
              <li><button (click) = onProvince()>استان</button></li>
              <li><button (click) = onCity()>شهر</button></li>					
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-10" style="border: 1px solid black; padding: 5px;">
        <!-- Country Table -->
        <div *ngIf="isCountry">
          <app-country></app-country>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br>
<app-country></app-country>
