<button class="btn btn-primary" type="button" (click) = "newCountry()">جدید</button><br><br>
<!-- <div class="form-floating">
  <input type="text" id="searchInput" #searchInput ngModel class="form-control" placeholder="عبارت مورد جستجو را وارد کند...">
  <label for="searchInput">عبارت مورد جستجو را وارد کند...</label>
</div> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">ردیف</th>
      <th scope="col">کد کشور</th>
      <th scope="col">نام کشور</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index" (click) = "selectRow(i)">
      <th scope="row">{{i+1}}</th>
      <td>{{country.code}}</td>
      <td>{{country.name}}</td>
    </tr>
  </tbody>
</table>
<!-- New Country -->
<!-- <form [formGroup]="inputForm"> -->
  <div *ngIf="isNew">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" #code placeholder="کد کشور">
      <label for="floatingInput">کد کشور</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" #name placeholder="نام کشور">
      <label for="floatingPassword">نام کشور</label>
    </div><br>
    <div class="col-2">
        <button class="btn btn-primary form-control" type="submit" (click) = "addCountry(code.value, name.value)">ذخیره کن</button>
    </div>
  </div>
<!-- </form> -->
<!-- Update Country -->
<div *ngIf="isSelect">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" [(ngModel)]="codeSelected" #code placeholder="کد کشور">
    <label for="floatingInput">کد کشور</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingPassword" [(ngModel)]="nameSelected" #name placeholder="نام کشور">
    <label for="floatingPassword">نام کشور</label>
  </div><br>
  <div class="col-2">
      <button class="btn btn-primary form-control" type="submit" (click) = "updateCountry(code.value, name.value)">تغییر بده</button>
  </div><br>
  <div class="col-2">
    <button class="btn btn-primary form-control" type="submit" (click) = "deleteCountry()">حذف کن</button>
  </div>
</div>
