<button class="btn btn-primary" type="button" (click) = "newCity()">جدید</button><br><br>

<!-- <div class="form-floating">
  <input type="text" id="searchInput" #searchInputt 
        [(ngModel)] = searchInput class="form-control" 
        placeholder="عبارت مورد جستجو را وارد کند..."
        (onkeyup) = "inputSearch()"
        />
  <label for="searchInput">عبارت مورد جستجو را وارد کند...</label>
  <ul id="cityList" *ngFor="let city of cities">
    <li>{{city.name}}</li>
  </ul>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">ردیف</th>
      <th scope="col">کد شهر</th>
      <th scope="col">نام شهر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities | searchFilter: searchInput; let i = index" (click) = "selectRow(i)">
      <th scope="row">{{i+1}}</th>
      <td>{{city.code}}</td>
      <td>{{city.name}}</td>
    </tr>
  </tbody>
</table>

<!-- New city -->
<!-- <form [formGroup]="inputForm"> -->
  <div *ngIf="isNew">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" #code placeholder="کد شهر">
      <label for="floatingInput">کد شهر</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" #name placeholder="نام شهر">
      <label for="floatingPassword">نام شهر</label>
    </div><br>
    <div class="col-2">
        <button class="btn btn-primary form-control" type="submit" (click) = "addCity(code.value, name.value)">ذخیره کن</button>
    </div>
  </div>
<!-- </form> -->

<!-- Update City -->
<div *ngIf="isSelect">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" [(ngModel)]="codeSelected" #code placeholder="کد شهر">
    <label for="floatingInput">کد شهر</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingPassword" [(ngModel)]="nameSelected" #name placeholder="نام شهر">
    <label for="floatingPassword">نام شهر</label>
  </div><br>
  <div class="col-2">
      <button class="btn btn-primary form-control" type="submit" (click) = "updateCity(code.value, name.value)">تغییر بده</button>
  </div><br>
  <div class="col-2">
    <button class="btn btn-primary form-control" type="submit" (click) = "deleteCity()">حذف کن</button>
  </div>
</div>
